# Java
*.class
*.jar
*.war

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
/.project
/.classpath
/.settings/
/.idea/
/*.iml

# Maven
/target/
/**/target/

# Gradle (if used)
/build/
/.gradle/

# STS workspace
.springBeans

# Eclipse
/bin/
/.metadata/
/*.tmp